@mixin flexFull3Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexFull2CenterRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexFull3CenterCollum {
    display: flex;
    justify-content: center;
    align-items: center;
}