* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: black; /* Màu nền khi bôi đen */
    color: white; /* Màu chữ khi bôi đen */
}

ul, li {
    list-style: none;
}

.active {
    display: flex !important;
}